

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}


.movie-card{
    display: flex;
    align-items: center;    
    height: 65vh;
    margin-top: 5rem;
    background:  linear-gradient(to right, rgba(221, 242, 242, 0.726) 150px, rgba(220.5, 241.5, 241.5, 0.84) 100%),
    url('../images/background.jpg');
    background-size: cover;

}

.movie-poster-container{
    height: 85%;
    width: 30%;
    text-align: right;

}

.movie-poster{
    height: 100%;
    border-radius: 5px;
    margin-right: 2rem;
}

.movie-info-container{
    height: 100%;
    width: 70%;
    color: rgb(48, 78, 47);
    padding-top: 1.5rem;
    
}

.movie-info-title {
    text-transform: capitalize;
    margin-top: 1rem;

}

.movie-genres{
    margin-top: 0.4rem;
}

.movie-rating{
    border: 1px solid rgb(48, 78, 47);
    color: rgb(48, 78, 47);
    padding: 0.1rem;
    border-radius: 3px;
}

.movie-duration{
    margin-left: 1rem;
    letter-spacing: 0.04rem;
}

.movie-duration:before{
    content: "\2022"
}

.movie-info-actions{
    font-size: 1rem
}

.movie-info-actions ul{
    list-style: none;
    margin-top: 0.4rem;
}

.movie-info-actions ul li{
    display: inline-block;
    margin-right: 2rem;
    height: 50px;
    width: 50px;
    background-color: rgb(3, 37, 65);
    border-radius: 50%;
}

.movie-info-actions ul li a{
    text-decoration: none;
    color: rgb(90, 150, 89);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.movie-info-quote{
    font-style: italic;
    color: rgba(48, 78, 47, 0.788);
    margin-top: 0.4rem;
    font-size: 1rem;
}

.movie-info-overview-title{
    margin-top: 0.2rem;
    text-transform: capitalize;
    margin-bottom: 0.2rem;
}

.movie-info-people{
    margin-top: 3.5rem;
    list-style: none;
}

.movie-info-people li{
    display: inline-block;
    margin-right: 6rem;
}

.movie-info-people li p:first-child{
    font-weight: 900;
}

footer{
    margin-top: 2rem;
    text-align: center;
    color: rgba(73, 73, 73, 0.788);
}

footer ul li{
    display: inline-block;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

footer ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: rgba(73, 73, 73, 0.788);
}
